/* Define the font for 'Neue Haas Grotesk' */
@font-face {
  font-family: Neue Haas Grotesk;
  src: url("./Fonts/Neue\ Haas\ Grotesk\ Text\ Pro.ttf");
}
@font-face {
  font-family: Digital-7;
  src: url("./Fonts/digital-7.regular.ttf");
}

/* Apply styles to all elements in the document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Neue Haas Grotesk;

  &::selection {
    background-color: #a2a2a2;
  }
}

/* Set full height and width for HTML and body */
html,
body {
  height: 100%;
  width: 100%;
}

/* Styles for the main container */
.main {
  width: 100%;
  overflow: hidden;
}

/* Styles for the home section */
.home {
  position: relative;
  height: 100vh;
  width: 100vw;

  /* Styles for the background image */
  & #homeImg {
    transform: scale(1.6);
  }

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  /* Styles for the overlay div */
  & .overlay {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;

    & h1#gallery {
      font-size: 12vw;
      font-weight: 400;
      color: rgba(49, 49, 49, 1);
      position: absolute;
      bottom: -2%;
      left: 50%;
      transform: translate(-50%, 0%);
      pointer-events: none;
      z-index: 9;
    }

    & h1#pinkFlare {
      font-size: 12vw;
      font-weight: 400;
      color: white;
      position: absolute;
      bottom: -50%;
      left: 50%;
      transform: translate(-50%, 0%) rotate(30deg);
      transform-origin: 0% 50%;
      white-space: nowrap;
      z-index: 99;
    }

    /* Styles for the navigation bar */
    & .nav {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 50px;
      pointer-events: none;
      z-index: 9;
      /* Styles for navigation bar images */
      & img {
        &:nth-child(1) {
          width: 135px;
          z-index: 9;
        }

        &:nth-child(2) {
          width: 85px;
        }
      }
    }

    /* Styles for the bottom navigation */
    & .bottomNav {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 50px;
      pointer-events: none;
      z-index: 9;

      /* Styles for bottom navigation images */
      & img {
        width: 85px;
      }
    }

    /* Styles for the center image and text */
    & .centerImg {
      width: 28vw;
      position: absolute;
      top: 48%;
      left: 84%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      z-index: 99;

      /* Styles for the heading */
      & h5 {
        font-size: 0.9vw;
        font-weight: 400;

        &:nth-child(1) {
          margin-bottom: 10px;
        }
      }

      /* Styles for the center image container */
      & .cImg {
        position: relative;
        width: 100%;
        height: 16vw;
        overflow: hidden;
      }
    }

    & .pinkBox {
      position: absolute;
      top: 100%;
      left: 0;
      width: 32vw;
      height: 30vw;
      color: #fff;
      font-weight: 100;
      background-color: rgb(213, 167, 180);
      z-index: 8;

      & .pbTop {
        position: absolute;
        top: 30%;
        left: 12%;
        font-size: 1vw;
        white-space: nowrap;
        cursor: pointer;

        & .first {
          margin-bottom: 15px;

          &:hover {
            color: #d5a7b4;
            background-color: #fff;
          }
        }

        & .second {
          margin-left: 30%;

          & h5 {
            position: relative;
            width: fit-content;

            &:nth-child(2) {
              margin-bottom: 15px;
            }

            &:hover {
              color: #d5a7b4;
              background-color: #fff;
            }
          }
        }
      }

      & .pbBottom {
        position: absolute;
        bottom: 20%;
        left: 12%;
        display: flex;
        gap: 10vw;

        & h5 {
          font-size: 0.85vw;
        }

        & span {
          width: 100%;
          position: absolute;
          top: 50%;
          font-family: Digital-7;
          font-size: 2.4vw;
        }

        & .first {
          & span {
            left: 15%;
          }
        }

        & .second {
          & span {
            left: 100%;
          }
        }
      }
    }

    & .flyingCircle {
      height: 4vw;
      width: 4vw;
      border-radius: 50%;
      background-color: #d5a7b4;
      position: absolute;
      top: 105%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      z-index: 99;
    }

    /* Styles for the center circle */
    & .centerCircle {
      height: 46.5vw;
      width: 46.5vw;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: white;
      z-index: 8;
    }

    /* Styles for the outer circle */
    & .circle {
      height: 50vw;
      width: 50vw;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: transparent;
      z-index: 8;

      /* Styles for circle images */
      & img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      /* Styles for top circle */
      .topCircle {
        & img {
          &:nth-child(1) {
            transform: translate(-49.9%, -49.9%) rotate(180deg) scale(1.5);
          }
          &:nth-child(2) {
            transform: translate(-49.9%, -49.9%) rotate(180deg) scale(2);
          }
          &:nth-child(3) {
            transform: translate(-49.9%, -49.9%) rotate(180deg) scale(2.5);
          }
        }
      }

      /* Styles for bottom circle */
      .bottomCircle {
        & img {
          &:nth-child(1) {
            transform: translate(-50%, -50%) scale(2.5);
          }
          &:nth-child(2) {
            transform: translate(-50%, -50%) scale(2);
          }
          &:nth-child(3) {
            transform: translate(-50%, -50%) scale(1.5);
          }
        }
      }
    }
  }
}

/* Styles for page 2 */
.page2 {
  position: relative;
  height: 100vh;
  width: 100vw;

  & .p2Nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    pointer-events: none;
    z-index: 99;

    /* Styles for navigation bar images */
    & img {
      &:nth-child(1) {
        width: 135px;
        z-index: 9;
      }

      &:nth-child(2) {
        width: 85px;
      }
    }
  }

  & .p2Top {
    position: relative;
    height: 60%;
    width: 100%;
    border-bottom: 1.5px solid #a2a2a280;
    overflow: hidden;

    & .circle {
      height: 14vw;
      width: 14vw;
      border-radius: 50%;
      position: absolute;
      top: 140%;
      transform: translate(-50%, -50%);
    }

    & .pink {
      left: 40%;
      z-index: 8;
      background-color: rgb(213, 167, 180);
    }

    & .purple {
      left: 58%;
      z-index: 7;
      background-color: rgb(180, 170, 213);
    }

    & h1 {
      font-size: 30vw;
      font-weight: 400;
      color: #fff;
      position: absolute;
      bottom: -15%;
      left: 100%;
      line-height: 1;
      letter-spacing: -25px;
      z-index: 9;
    }

    & .gradientImg {
      width: 200%;
      position: absolute;
      left: 100%;
      z-index: 8;
    }

    & .colors {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 9;

      & .box {
        position: absolute;

        &:nth-child(1) {
          height: 18%;
          width: 100%;
          left: 0%;
          bottom: 0%;
          z-index: 9;
        }

        &:nth-child(2) {
          height: 18%;
          width: 100%;
          left: 0%;
          bottom: 18%;
          z-index: 9;
        }
      }
    }

    & .color1 {
      width: 20vw;
      height: 60vh;
      background-color: rgb(223, 177, 190);

      & .box:nth-child(1) {
        background-color: rgb(223, 177, 190);
      }
      & .box:nth-child(2) {
        background-color: rgb(223, 177, 190);
      }
    }
    & .color2 {
      width: 20vw;
      height: 60vh;
      left: 20%;
      background-color: rgb(233, 187, 200);

      & .box:nth-child(1) {
        background-color: rgb(233, 187, 200);
      }
      & .box:nth-child(2) {
        background-color: rgb(233, 187, 200);
      }
    }
    & .color3 {
      width: 20vw;
      height: 60vh;
      left: 40%;
      background-color: rgb(243, 197, 210);

      & .box:nth-child(1) {
        background-color: rgb(243, 197, 210);
      }
      & .box:nth-child(2) {
        background-color: rgb(243, 197, 210);
      }
    }
    & .color4 {
      width: 20vw;
      height: 60vh;
      left: 60%;
      background-color: rgb(253, 207, 220);

      & .box:nth-child(1) {
        background-color: rgb(253, 207, 220);
      }
      & .box:nth-child(2) {
        background-color: rgb(253, 207, 220);
      }
    }
    & .color5 {
      width: 20vw;
      height: 60vh;
      left: 80%;
      background-color: rgb(255, 227, 240);

      & .box:nth-child(1) {
        background-color: rgb(255, 227, 240);
      }
      & .box:nth-child(2) {
        background-color: rgb(255, 227, 240);
      }
      & .box:nth-child(3) {
        height: 18%;
        width: 100%;
        left: 100%;
        bottom: 0%;
        background-color: rgb(255, 237, 250);
        z-index: 8;
      }
      & .box:nth-child(4) {
        height: 18%;
        width: 100%;
        left: 100%;
        bottom: 18%;
        background-color: rgb(255, 237, 250);
        z-index: 8;
      }
    }
  }

  & .p2Bottom {
    position: relative;
    height: 40%;
    width: 100%;

    & p {
      font-size: 3.5vw;
      font-weight: 400;
      color: #282828;
      letter-spacing: -2px;
      line-height: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      &:nth-child(2) {
        opacity: 0;
      }
    }
  }

  & .p2BottomNav {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    pointer-events: none;
    z-index: 9;

    /* Styles for bottom navigation images */
    & img {
      width: 85px;
    }
  }
}

@media (max-width: 768px) {
  .home {
    & .overlay {
      & h1#gallery {
        font-size: 12vw;
        margin-bottom: 20%;
      }

      & h1#pinkFlare {
        font-size: 13vw;
        margin-bottom: 120px;
      }

      & .nav {
        padding: 30px 30px;
      }

      & .bottomNav {
        padding: 30px 30px;
      }

      & .centerImg {
        width: 80vw;
        left: 150%;

        & h5 {
          font-size: 2.5vw;
        }

        & .cImg {
          height: 45vw;
        }
      }

      & .pinkBox {
        width: 87vw;
        height: 85vw;

        & .pbTop {
          font-size: 3.2vw;
        }

        & .pbBottom {
          gap: 26vw;

          & h5 {
            font-size: 2vw;
          }
        }
      }

      & .flyingCircle {
        height: 10vw;
        width: 10vw;
      }

      & .centerCircle {
        height: 88vw;
        width: 88vw;
      }

      & .circle {
        height: 95vw;
        width: 95vw;
      }
    }
  }

  .page2 {
    & .p2Nav {
      padding: 30px 30px;
    }

    & .p2BottomNav {
      padding: 30px 30px;
    }

    & .p2Top {
      height: 55%;

      & .circle {
        height: 32vw;
        width: 32vw;
        border-radius: 50%;
        position: absolute;
        top: 140%;
        transform: translate(-50%, -50%);
      }

      & .pink {
        left: 34%;
        z-index: 8;
        background-color: rgb(213, 167, 180);
      }

      & .purple {
        left: 68%;
        z-index: 7;
        background-color: rgb(180, 170, 213);
      }

      & h1 {
        font-size: 55vw;
        bottom: -5%;
      }

      & .gradientImg {
        height: 100%;
      }
    }

    & .p2Bottom {
      height: 45%;

      & p {
        font-size: 7vw;
      }
    }
  }
}
